/* ------------- */
/* GENERAL SETUP */
/* ------------- */

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Roboto', 'Muli', sans-serif;
    line-height: 1.8;
    letter-spacing: 1px; /* good practice to NOT using default value */
    color: #808080; /* dark grey on white background */
    min-height: 100vh;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Muli', Helvetica, sans-serif;
    letter-spacing: 2px; /* good practice to NOT using default value */
}

/* turn off default hyperlink behaviour across the page  */
a:hover {
    text-decoration: none;
}
/* --------------------------------------------- */


/* ------- */
/* HEADER  */
/* ------- */

/* navbar */

/* navbar background */
.nav-menu {
    padding: 1.25em 2.5em;
    color: #808080;
    background-color: #ffffff;
    z-index: 10;
    transition: all .7s; /* smooth navbar transition on scroll */
}
.custom-navbar {
    padding: 0 2.5em;
    z-index: 10;
    background:linear-gradient(180deg, rgba(248,249,250,1) 80%, rgba(248,249,250,.9)100%);
}

/* navbar items */
.menu-item {
    font-family: 'Muli', Helvetica, Arial, sans-serif;
    font-size: 17px;
    letter-spacing: 1px;
    color: #808080;
    padding: 4px 12px !important;
    margin: 8px 4px !important;
    opacity: 0.8;
    transition: all .3s ease;
}
.menu-item:hover {
    /* opacity: 1; */
    color: #808080;
    margin: 10px;
    transform: translateY(-2px);  /* micro interaction to indicate it's clickable */
}
.nav-active {
    color: #111111;
}
.nav-active:hover {
    color: #111111;
}
.nav-link {
  font-size: 17px;
}
 /* -------------------------------------------------------- */

 /* navbar logo  */
 .logo {
    font-family: 'Muli', Helvetica, Arial, sans-serif;
    font-weight: bolder;
    font-size: 46px;
    letter-spacing: .1em;
    text-decoration: none;
    color: #ffc107;
    text-decoration-line: line-through;
    -webkit-text-decoration-line: line-through; /* to make sure this show-ups on Safari browser */
    text-decoration-color: #dc3545;
    -webkit-text-decoration-color: #dc3545; /* to make sure this show-ups on Safari browser */
    opacity: .8;
    transition: all 0.7s;
}
.logo-scroll {
    font-size: 36px; /* resize logo after scroll */
    transition: all 0.3s ease;
}
.logo:hover {
    color: #0FA3B1;
    opacity: .8;
    transform: translateY(-2px); /* micro interaction to indicate it's clickable */
}
/* ------------------------------------------------------------------------------------------- */

/* Hamburger menu (for md & sm screen)
Play with margins, width and color to modify the alignments */
.line1, .line2, .line3 {
    width: 23px;
    height: 3px;
    margin: 5px;
    background-color: #82A6A4;
    transition: all .4s;
}

/* Hamburger menu animation when top navbar is open. */
.change .line1 {
    transform: rotate(-45deg) translate(-5px,6px);
}
.change .line2 {
    opacity: 0;
}
.change .line3 {
    transform: rotate(45deg) translate(-5px,-6px);
}
/* ------------------------------------------------------------------ */

/* hero section */
.front-page {
    min-height: 100vh;
    background: linear-gradient(180deg, rgba(255,255,255,.1) 0%, rgba(255, 255, 255,0.2) 100%), url('images/banner.svg') no-repeat;
    background-size: 80vh; 
    background-position: right 10% bottom 30%; /* illustration position */
}
.in-progress {
    min-height: 100vh;
    background: linear-gradient(180deg, rgba(255,255,255,.1) 0%, rgba(255, 255, 255,0.2) 100%), url('images/in_progress.svg') no-repeat;
    background-size: 80vh;
    background-position: right 10% bottom 30%; /* illustration position */
}

.subtitle {
    color: #111111;
    font-size: 27px;
    line-height: 40px; /* good practice: 1.4x - 1.8x font size. Best practice: 1.618x font size */
    font-weight: normal;
}
.subtitle-blue {
    color: #0FA3B1;
    font-size: 27px;
    line-height: 40px;
    font-weight: normal;
}
.subtitle-progress {
    color: #808080;
    font-size: 21px;
    line-height: 40px;
    font-weight: normal;
}

/* replacement of hyperlink on placeholder pages */
.highlight { 
    color: #BF9677;
    background: linear-gradient(180deg, rgba(255,255,255,0) 65%, rgba(15, 163, 177, .1) 65%);
    display: inline;
    text-decoration: none;
    transition: all 0.7s;
    /* margin: auto; */
}
.highlight:hover {
    color: #808080;
    background: linear-gradient(180deg, rgba(255,255,255,0) 65%, rgba(255,193,7,.6) 65%);
    display: inline;
    text-decoration: none;
}
/* ----------------------------------------------------------- */

/* scroll-bar */
::-webkit-scrollbar {
    /* width: 0; */
    display: none;
}
#scroll-path {
    z-index: 500;
    position: fixed;
    top: 0;
    right: 0;
    width: 6px;
    height: 100%;
    background: rgba(255, 255, 255, 0.5);
}

#progress-bar {
    z-index: 500;
    position: fixed;
    top: 0;
    right: 0;
    width: 6px;
    background: linear-gradient(to top, #008aaf, #00ffe7);
    animation: progress 5s linear infinite;
}
@keyframes progress
{
    0%, 100%
    {
        filter: hue-rotate(0deg);
    }
    50% 
    {
        filter: hue-rotate(360deg);
    }

}
#progress-bar:before {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background: linear-gradient(to top, #008aaf, #00ffe7);
    filter: blur(10px);
}
#progress-bar:after {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to top, #008aaf, #00ffe7);
    filter: blur(30px);
}


/* banner  */
.banner {
    position: absolute;
    top: 30%;
    left: 40%;
    transform: translate(-50%,0);
    width: 73%;
}

.screen-fit {
    min-height: 70vh;
}
/* -------------------------------------------------------------------- */


/* ---------------- */
/* CONTENT SECTION  */
/* ---------------- */

/* Gallery */
.separator {
    letter-spacing: -2px;
    color: #DCEFEF;
    font-weight: 200;
}

.gallery-list-item {
    cursor: pointer;
    user-select: none;
    opacity: .8;
    transition: all 0.3s ease;
}
.gallery-list-item:hover {
    opacity: 1;
}
.gallery-item-active {
    color: #BF9677;
    font-weight: 300;
}

.filter {
    position: relative;
    overflow: hidden;
}
.image-box {
    position: relative;
    overflow: hidden;
}
.image-box img {
    max-width: 100%;
    transition: all 0.3s ease;
    display: block;
    width: 100%;
    height: auto;
    transform: scale(1); /* pair this w/ hover scale below to give zoom effect */
}
.image-box:hover img {
    transform: scale(1.1); /* zoom effect */
}

.title {
    display: block;
    font-size: 24px;
    text-transform: capitalize;
    color: #111111;
    letter-spacing: 0.05em;
    transition: all 0.3s ease;
}
.title:hover {
    text-decoration-line: none;
    transform: translateY(-2px);  /* micro interaction to indicate it's clickable */
    cursor: pointer;  /* micro interaction to indicate it's clickable */
}

.category {
    font-size: 14px;
    opacity: 0.8;
}
.category > i {
    font-size: 12px;
    opacity: 0.8;
}
/* ------------------------------------------------------------------ */


/* -------------- */
/* FOOTER SECTION */
/* -------------- */

/* quick scroll-up button animation */
.btn-up {
    display: none; /* default behaviour before scroll */
    position: fixed; /* Fixing the position to the bottom right of the screen */
    bottom: 30px; /* Place the button at the bottom of the page */
    right: 30px; /* Place the button 30px from the right */
    z-index: 99; /* Make sure it does not overlap */
    border: none; /* Remove borders */
    outline: none; /* Remove outline */
    cursor: pointer; /* Add a mouse pointer on hover */
    width: 48px;
    height: 48px;
    border-radius: 50%; /* Make it circle */
    color: #ffc107;
    box-shadow: 1px 3px 5px #80808028; /* Gives floating effect */
    transition: all 0.3s ease;
}
.btn-up:hover {
    transform: translateY(-2px); /* micro interaction to indicate it's clickable */
}
.rise-up {
    display: block;
    animation-name: riseUp;
    animation-duration: 2s;
}
@keyframes riseUp {
    0% {
        transform: translateY(100px) ;
        opacity: 0;
    }
    60% {
        transform: translateY(-40px) ;
        opacity: 0.6;
    }
    100% {
        transform: translateY(0px) ;
        opacity: 1;
    }
}

/* animation of moving arrow inside the circle */
.arrow,
.arrow:before {
  position: absolute;
  left: 75%;
}
.arrow {
  width: 16px;
  height: 16px;
  top: 75%;
  margin: -20px 0 0 -20px;
  -webkit-transform: rotate(225deg);
  border-left: none;
  border-top: none;
  border-right: 2px #ffc107 solid;
  border-bottom: 2px #ffc107 solid;
}
.arrow:before {
  content: '';
  width: 14px;
  height: 14px;
  top: 75%;
  margin: -10px 0 0 -10px;
  border-left: none;
  border-top: none;
  border-right: 1px #ffc107 solid;
  border-bottom: 1px #ffc107 solid;
  animation-duration: 1.2s;
  animation-iteration-count: infinite;
  animation-name: arrow;
}
@keyframes arrow {
  0% {
    opacity: 0;
    transform: translate(-16px, -16px);
  }
  100% {
    opacity: 1;
  }
}
/* ------------------------------------------------ */

/* Footer */
.footer {
    background-color: rgba(164, 197, 204,.8);
}

.footer-title {
    color: #F2F6D0;
    font-size: 42px;
}

.socmed {
    transition: all 0.3s ease;
}
.socmed:hover {
    transform: translateY(-2px)
}
/* ------------------------------------------------------------- */


/* --------------------- */
/* RESPONSIVENESS CONFIG */
/* --------------------- */

@media (max-width: 1024px) {
    .front-page {
        background: linear-gradient(180deg, rgba(255,255,255,.9) 0%,rgba(255, 255, 255,.2) 80%), url('images/banner.svg') no-repeat;
        background-size: 50vh;
        background-position: right 30% bottom 30%;
    }
    .in-progress {
        background: linear-gradient(180deg, rgba(255,255,255,1) 0%,rgba(255, 255, 255,.2) 100%), url('images/in_progress.svg') no-repeat;
        background-size: 50vh;
        background-position: right 30% bottom 30%;
    }
    .banner {
        position: absolute;
        top: 14%;
        left: 35%;
        transform: translate(-50%,0);
        width: 60%;
    }
}

@media (max-width: 768px) {
    .front-page {
        background: linear-gradient(180deg, rgba(255,255,255,.9) 0%,rgba(255, 255, 255,.2) 80%), url('images/banner.svg') no-repeat;
        background-size: 50vh;
        background-position: right 30% bottom 24%;
    }
    .in-progress {
        background: linear-gradient(180deg, rgba(255,255,255,.9) 0%,rgba(255, 255, 255,.2) 80%), url('images/in_progress.svg') no-repeat;
        background-size: 50vh;
        background-position: right 30% bottom 24%;
    }
    .banner {
        position: absolute;
        top: 14%;
        left: 36%;
        transform: translate(-50%,0);
        width: 60%;
    }
}

@media (max-width: 600px) {
    .front-page {
        background: linear-gradient(180deg, rgba(255,255,255,.9) 0%,rgba(255, 255, 255,.8) 80%), url('images/banner.svg') no-repeat;
        background-size: 60vh;
        background-position: right 10% bottom 24%;
    }
    .in-progress {
        background: linear-gradient(180deg, rgba(255,255,255,.9) 0%,rgba(255, 255, 255,.8) 80%), url('images/in_progress.svg') no-repeat;
        background-size: 60vh;
        background-position: right 10% bottom 24%;
    }
    .banner {
        position: absolute;
        top: 14%;
        left: 41%;
        transform: translate(-50%,0);
        width: 71%;
    }
    .logo {
      font-size: 24px;
    }
    .subtitle {
        color: #111111;
        letter-spacing: 0.02em + 2px;
        font-size: 19px;
        line-height: 28px;
        font-weight: normal;
    }
    .subtitle-blue {
        color: #0FA3B1;
        font-size: 21px;
        line-height: 28px;
        font-weight: normal;
        letter-spacing: 4px;
    }
    .subtitle-progress {
        color: #808080;
        font-size: 16px;
        line-height: 28px;
        font-weight: normal;
        letter-spacing: 0.02em + 1px;
    }
    .small-paragraph {
        color: #808080 !important; 
    }
}
/* ------------------------------------------------------------------ */


/* ------------------------- */
/* CONFIG FOR UPCOMING PAGES */
/* ------------------------- */

/*
.name {
    font-size: 42px;
    color: #BF9677;
}

.button {
    display: inline-block;
    position: relative;
    height: 48px;
    line-height: 48px;
    text-transform: uppercase;
    font-family: 'Muli';
    font-size: 12px;
    font-weight: 700;
    padding: 0 32px;
    color: #ffffff;
    letter-spacing: 2px;
    border: none;
    margin: 24px 0;
    transition: all 0.3s ease;
}
.button:hover {
    cursor: pointer;
}

.btn-cta {
    background: #a4c5cc;
}
.btn-cta:hover {
    background: #2b2b2b;
    color: #ffffff;
}

.btn-scndary {
    background: #f8f9fa;
    color: #111111;
}
.btn-scndary:hover {
    background: #2b2b2b;
    color: #ffffff;
}
*/
/* ------------------------------------------------------------------ */

/* -------------------- */
/* COMPONENTS - BUTTONS */
/* -------------------- */

.component-page {
    margin-top: 14vh;
}


/* Glowing gradient button: https://www.youtube.com/watch?v=pdH5X2mXzPk */
.card-container {
    box-sizing: border-box;
    height: 100%;
    border-radius: 8px;
}
.button-gradient1 {
    text-align: center;
    font-size: 16px;
    font-weight: bolder;
    /* line-height: 52px; */
    margin: 80px auto;
    padding: 16px 32px;
    color: #ffffff;
    text-decoration: none;
    text-transform: uppercase;
    /* box-sizing: border-box; */
    border-radius: 30px;    
    background: linear-gradient(90deg, #03a9f4, #f441a5, #ffeb3b, #03a9f4);
    background-size: 400%;
    z-index: 20;
    box-shadow: 0 0 1px #80808040,
    0 0 2px #80808040,
    0 0 4px #80808040,
    0 0 8px #80808040;
}
.button-gradient1:active {
    opacity: .6;
}
.button-gradient1:hover {
    color: #ffffff ;
    animation: background-zoom 6s linear infinite;
}
@keyframes background-zoom
{
    0%
    {
        background-position: 0%;
    }
    100%
    {
        background-position: 400%;
    }
}


/* Neon light snake border: https://www.youtube.com/watch?v=3RRgVHd2TXQ */
.black-bg {
    background-color: #050801;
    border-radius: 4px;
}
.button-neon1 {
    font-family: 'Inconsolata', monospace;
    letter-spacing: 4px;
    text-decoration: none;
    text-transform: uppercase;
    box-sizing: border-box;
    position: relative;
    display: inline-block;
    padding: 20px 40px;
    margin: 40px 0 100px 0;
    transition: .5s;
    overflow: hidden;
    color: #03e9f4;
    -webkit-box-reflect: below 1px linear-gradient(transparent, #0005 );
}
.button-neon1:hover {
    background-color: #03e9f4;
    color: #050801;
    box-shadow: 0 0 5px #03e9f4,
                0 0 25px #03e9f4,
                0 0 50px #03e9f4,
                0 0 200px #03e9f4;
}
/* .button-neon1:nth-child(1)  {
    filter: hue-rotate(290deg)
}
.button-neon1:nth-child(3) {
    filter: hue-rotate(110deg)
} */
.button-neon1 span {
    position: absolute;
    display: block;
}
.button-neon1 span:nth-child(1) {
    top: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background: linear-gradient(90deg, transparent, #03e9f4);
    animation: neon1 1s linear infinite;
}
@keyframes neon1
{
    0%
    {
        left: -100%;
    }
    50%,100%
    {
        left: 100%;
    }
}
.button-neon1 span:nth-child(2) {
    top: -100%;
    right: 0;
    height: 100%;
    width: 2px;
    background: linear-gradient(180deg, transparent, #03e9f4);
    animation: neon2 1s linear infinite;
    animation-delay: 0.25s;
}
@keyframes neon2
{
    0%
    {
        top: -100%;
    }
    50%,100%
    {
        top: 100%;
    }
}
.button-neon1 span:nth-child(3) {
    bottom: 0;
    right: -100;
    width: 100%;
    height: 2px;
    background: linear-gradient(270deg, transparent, #03e9f4);
    animation: neon3 1s linear infinite;
    animation-delay: 0.5s;
}
@keyframes neon3
{
    0%
    {
        right: -100%;
    }
    50%,100%
    {
        right: 100%;
    }
}
.button-neon1 span:nth-child(4) {
    bottom: -100%;
    left: 0;
    height: 100%;
    width: 2px;
    background: linear-gradient(0deg, transparent, #03e9f4);
    animation: neon4 1s linear infinite;
    animation-delay: 0.75s;
}
@keyframes neon4
{
    0%
    {
        bottom: -100%;
    }
    50%,100%
    {
        bottom: 100%;
    }
}

/* Minimalistic line form */
#search-bar {
    width: 70%;
    height: 32px;
    line-height: 32px;
    font-size: 16px;
    margin: 80px auto;
    padding: 8px 16px;
    outline: none;
    border: none;
    background: transparent;
    border-bottom: 1px solid grey;
}
#search-bar:focus {
    border-bottom: 1px solid teal;
}


/* Ripple effect for touch screen  */
.ripple {
    background-position: center;
    transition: background 0.4s;
  }
  .ripple:hover {
    color: white;
    background: #00A8B7 radial-gradient(circle, transparent 1%, #00A8B7 1%) center/15000%;
  }
  .ripple:active {
    background-color: #008089;
    background-size: 100%;
    transition: background 0s;
  }
  .buttn {
    border: none;
    padding: 12px 24px;
    border-radius: 4px;
    cursor: pointer;
    color: white;
    background-color: #00DAE9;
    box-shadow: 0 0 2px #80808021,
                0 0 4px #80808021,
                0 0 8px #80808021,
                0 0 16px #80808021;
    outline: none;
    margin: 80px auto;
  }


  /* Interactive getting whole button. Tutorial: https://www.youtube.com/watch?v=8NMObsAKDBQ */
  .button-neon2 {
    font-family: 'Inconsolata', monospace;
    letter-spacing: 4px;
    text-decoration: none;
    text-transform: uppercase;
    box-sizing: border-box;
    position: relative;
    display: inline-block;
    padding: 20px 40px;
    margin: 80px 0 100px 0;
    transition: .5s;
    overflow: hidden;
    color: #ffc107;
}
.button-neon2:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 10px;
    height:10px;
    border-top: 2px solid #ffc107;
    border-left: 2px solid #ffc107;
    transition: .2s ease;
}
.button-neon2:hover:before {
    width: 100%;
    height: 100%;
}
.button-neon2:after {
    content: '';
    position: absolute;
    bottom: 0;
    right: 0;
    width: 10px;
    height:10px;
    border-bottom: 2px solid #ffc107;
    border-right: 2px solid #ffc107;
    transition: .2s ease;
}
.button-neon2:hover:after {
    width: 100%;
    height: 100%;
}

.button-neon2:hover {
    color: #ffc107;
}


 /* Interactive getting whole NEON button. Tutorial: https://www.youtube.com/watch?v=8NMObsAKDBQ */
 .button-neon3 {
    font-family: 'Inconsolata', monospace;
    letter-spacing: 4px;
    text-decoration: none;
    text-transform: uppercase;
    box-sizing: border-box;
    position: relative;
    display: inline-block;
    padding: 20px 40px;
    margin: 80px 0 100px 0;
    transition: .5s;
    overflow: hidden;
    color: #ff1fec;
}
.button-neon3:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 10px;
    height:10px;
    border-top: 2px solid #ff1fec;
    border-left: 2px solid #ff1fec;
    transition: .2s ease;
}
.button-neon3:hover:before {
    width: 100%;
    height: 100%;
}
.button-neon3:after {
    content: '';
    position: absolute;
    bottom: 0;
    right: 0;
    width: 10px;
    height:10px;
    border-bottom: 2px solid #ff1fec;
    border-right: 2px solid #ff1fec;
    transition: .2s ease;
}
.button-neon3:hover:after {
    width: 100%;
    height: 100%;
}

.button-neon3:hover {
    color: #111;
    background-color: #ff1fec;
    box-shadow: 0 0 50px #ff1fec;
    transition-delay: .2s;
}


/* Overlapping text */
.overlap-text-cont {
    position: relative;
}
.background-text {
    font-family: 'Roboto', sans-serif;
    font-size: 64px;
    opacity: 0.1;
    text-transform: uppercase;
}

.foreground-text {
    font-family: 'Courier New', Courier, monospace;
    font-size: 32px;
    position: absolute;
    color: #ffc107;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}